{% extends "index.html" %}
{% block body %}

<body>
	<p>test</p>
	<div class="container">
		<h4 class = "text-center">TABLE
		</h4>
		<table id="example" class="display" style="width:100%">
			<thead>
			<tr>
				<th>Token</th>
				<th>Exchange</th>
				<th>Amount</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>BTC</td>
					<td>Binance</td>
					<td>100</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<script src="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
	<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<script>
	$(document).ready( function () {
		$('#example').DataTable();
	});
	</script>
</body>

{% endblock %}
