  
<html>
<link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{ url_for('graph') }}">Graph</a>
      <a class="nav-item nav-link" href="{{ url_for('aboutpage') }}">About</a>
      <a class="nav-item nav-link" href="{{ url_for('upload_file') }}">Upload</a>

      <a class="nav-item nav-link disabled" href="/" tabindex="-1" aria-disabled="true">Disabled</a>
    </div>
  </div>
</nav>


<body>
    <h3>{{ title }}</h3>
        {% for p in paragraph %}    
    <p>{{ p }}</p>
    {% endfor %}

{% block body %}

{% endblock %}
	
</body>


<script type = "text/javascript" src = "/static/js/bootstrap.min.js"></script>


</html>		
