{% extends "base.html" %}

{% block content %}
    <div class="col-lg-12">
        <h1 > Page2!</h1>
    </div>

    <div>
        <p>test</p>
    </div>
    <div id={{ chartID|safe }} class="chart" style="height: 100px"></div>
    <script>
        var chart_id = {{ chartID|safe }}
        var series = {{ series|safe }}
        var title = {{ title|safe }}
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var chart = {{ chart|safe }}
    </script>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/highcharts/highcharts.js"></script>
        <script src="static/js/graph.js"></script>

{% endblock %}

{% block footer %}

{% endblock %}